stepan/t10k-images.idx3-ubyte
stepan/t10k-labels.idx1-ubyte
stepan/train-images.idx3-ubyte
stepan/train-labels.idx1-ubyte
.vscode/tasks.json
stepan/image_loader.exe
spoluprace/t10k-images.idx3-ubyte
spoluprace/t10k-labels.idx1-ubyte
spoluprace/train-images.idx3-ubyte
spoluprace/train-labels.idx1-ubyte
spoluprace/MLP
honza/mnist
honza/t10k-images.idx3-ubyte
honza/t10k-labels.idx1-ubyte
honza/train-images.idx3-ubyte
honza/train-labels.idx1-ubyte
